button {
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #3498db;
  padding: 10px 20px 10px 20px;
  border: solid #000000 2px;
  text-decoration: none;
}

button:hover {
  background: #6ec7ff;
  text-decoration: none;
}

html, body  {
	margin: 0; height: 100%; overflow: hidden
}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

body {
  background-color: #aaaaaa;
}
